.urlCard {
  background: rgb(158, 158, 158);
  padding: 1em 1.2em;
  border-radius: 0.25em;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58%;
  margin: 1em auto;
}

.urlCard .css-1k430x0-MuiButtonBase-root-MuiChip-root {
  background: white;
}

.urlCard .url-badges .css-1k430x0-MuiButtonBase-root-MuiChip-root {
  margin: 0.3em;
}

/* .url-badges {
  background: aqua;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
} */

.urlCard-title {
  display: block;
  width: 35vw;
  word-wrap: break-word;
}

.delete-bin-icon {
  opacity: 0;
}
.delete-bin-icon:hover {
  opacity: 1;
  transition: 0.3s;
}

.urlCard a {
  text-decoration: none;
  color: #fff;
}

.urlCard a:hover {
  color: black;
  transition: 0.2s ease;
}
