.urlCard {
  background: rgb(158, 158, 158);
  padding: 1em 1.2em;
  border-radius: 0.25em;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0em;
}

.urlCard:hover {
  background: rgb(139, 139, 139);
  transition: ease-in 0.05s;
}

.url-badges div {
  background: white;
  margin: 0.3em;
}

.urlCard-title {
  display: block;
  width: 35vw;
  word-wrap: break-word;
}

.delete-bin-icon {
  opacity: 0.5;
}
.delete-bin-icon:hover {
  cursor: pointer;
  opacity: 1;
  transition: ease-in 0.05s;
}

.urlCard a {
  text-decoration: none;
  color: #fff;
}

.urlCard a:hover {
  color: black;
  transition: 0.2s ease;
}
