.urlCard {
  background: rgb(158, 158, 158);
  padding: 1em 1.2em;
  margin: 1em;
  border-radius: 0.25em;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.urlCard .css-1k430x0-MuiButtonBase-root-MuiChip-root {
  background: white;
}

.urlCard .url-badges .css-1k430x0-MuiButtonBase-root-MuiChip-root {
  margin: 0em 0.3em;
}

