.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15vw;
}

.searchbar-container .css-i4bv87-MuiSvgIcon-root {
  padding: 0.48em;
}

.searchbar-container input {
  background: rgb(56, 56, 56);
  color: white;
}

.searchbar:hover{
  background: rgb(255, 255, 255);
  color: black;
  transition: all 0.1s ease;
}