@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");

/* .card-wrapper {
  margin: 1em 23em;
} */

.card-wrapper-body {
  display: flex;
  flex-direction: column;
}

.url-input-field > div:first-child {
  margin: 0.3em 0;
}

.selected-badges {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 0.2em;
  padding: 0.6em 0.6em;
  margin: 0.5em 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.selected-badges .placeholder {
  color: rgb(170, 170, 170);
  font-family: "Roboto", sans-serif;
}

.MuiCardContent-root > div:first-child,
.badge-formControl > div:first-child {
  width: 100%;
}

.card-wrapper-body .submit-form-btn {
  align-self: flex-end;
}

.suggestion-canvas {
  display: flex;
  justify-content: space-around;
}

.suggestion-canvas-addMargin {
  margin: 0.5em 0em;
}

.suggestion-canvas .preview-suggestions {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.suggestion-canvas .logo-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.suggestion-canvas .show-suggestions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.badgeContainer {
  margin: 0.25em;
}

.MuiCardContent-root .badge-formControl > div:first-child {
  margin-top: 0.25em;
}

.url-input-field > div:first-child svg:hover {
  fill: rgb(122, 121, 121);
  cursor: pointer;
  transition: 0.05s all ease;
}

.badge-formControl .add-newBadge {
  background: rgb(145, 5, 163);
  border-radius: 0.2em;
  color: #fff;
}

.badge-formControl .add-newBadge:hover {
  background: rgb(109, 4, 122);
  transition: all 0.1s ease;
  color: #fff;
  cursor: pointer;
}
