@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");

.css-0 {
  width: 40%;
  border: 1px solid rgb(189, 188, 188);
  margin: 1em 23em;
  border-radius: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  margin: 0.3em;
  width: 37.5vw;
}

.selected-badges {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 0.2em;
  padding: 0.6em 0.6em;
  margin: 0.3em 0em 0em 0.3em;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 35.9vw;
}

.selected-badges .placeholder {
  color: rgb(170, 170, 170);
  font-family: "Roboto", sans-serif;
}


