@media only screen and (max-width: 768px) {
  .suggestion-canvas {
    flex-direction: column;
  }

  .logo-canvas {
    justify-content: center;
  }

  .preview-suggestions .summary {
    text-align: center;
    margin: 0.5em;
  }

  .suggestion-canvas .show-suggestions {
    justify-content: center;
  }
}
