@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

button {
  background-color: #ffff;
  border: none !important;
  outline: none !important;
  padding: 0.7em;
  border-radius: 0.2em;
  font-family: "Roboto", sans-serif;
  color: #000;
  width: 10vw;
  font-weight: bold;
  font-size: 0.95rem;
}

button:hover {
  background-color: rgb(233, 233, 233);
  transition: all 0.15s ease;
  cursor: pointer;
}
