* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(238, 238, 238);
}

.url-list {
  flex-direction: column;
}

.modal-container {
  padding: 1em 23em;
}

.card-container {
  padding: 1em 0.5em;
}

@media only screen and (max-width: 1024px) {
  .modal-container {
    padding: 1em 8em;
  }
  .card-container {
    padding: 0em 8em;
  }
}

@media only screen and (max-width: 428px) {
  .modal-container {
    padding: 1em;
  }
  .card-container {
    padding: 0em 1em;
  }
}
