@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.badgeContainer {
  background: rgb(214, 214, 214);
  border-radius: 1em;
  color: rgb(53, 53, 53);
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  margin: 0.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.badgeContainer:hover {
  background: rgb(92, 92, 92);
  color: white;
  transition: 0.1s all ease;
  cursor: pointer;
}

.badgeContainer span {
  margin: 0.5em 0.7em;
}

.badgeContainer .add-icon {
  fill: rgb(124, 124, 124);
  margin: 0.2em 0.2em;
}

.badgeContainer .rotateIcon {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(20deg);
  }
}
